/* montserrat-300 - latin */
@font-face {
  font-family: 'MontserratLight';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/montserrat/light/montserrat-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('/fonts/montserrat/light/montserrat-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/montserrat/light/montserrat-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/montserrat/light/montserrat-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/montserrat/light/montserrat-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/montserrat/light/montserrat-v14-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'MontserratRegular';
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/montserrat/regular/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('/fonts/montserrat/regular/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/montserrat/regular/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/montserrat/regular/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/montserrat/regular/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/montserrat/regular/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'MontserratSemibold';
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/montserrat/semibold/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('/fonts/montserrat/semibold/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/montserrat/semibold/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/montserrat/semibold/montserrat-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/montserrat/semibold/montserrat-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/montserrat/semibold/montserrat-v14-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'MontserratBold';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('/fonts/montserrat/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/montserrat/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/montserrat/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/montserrat/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/montserrat/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* josefin-sans-300 - latin */
@font-face {
  font-family: 'JosefinSansLight';
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/josefin/light/josefin-sans-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Josefin Sans Light'), local('JosefinSans-Light'),
      url('/fonts/josefin/light/josefin-sans-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/fonts/josefin/light/josefin-sans-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
      url('/fonts/josefin/light/josefin-sans-v16-latin-300.woff') format('woff'), /* Modern Browsers */
      url('/fonts/josefin/light/josefin-sans-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: 'JosefinSansRegular';
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/josefin/regular/josefin-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'),
      url('/fonts/josefin/regular/josefin-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/fonts/josefin/regular/josefin-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('/fonts/josefin/regular/josefin-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
      url('/fonts/josefin/regular/josefin-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* josefin-sans-600 - latin */
@font-face {
  font-family: 'JosefinSansSemibold';
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/josefin/semibold/josefin-sans-v16-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Josefin Sans Semibold'), local('JosefinSans-Semibold'),
      url('/fonts/josefin/semibold/josefin-sans-v16-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/fonts/josefin/semibold/josefin-sans-v16-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
      url('/fonts/josefin/semibold/josefin-sans-v16-latin-600.woff') format('woff'), /* Modern Browsers */
      url('/fonts/josefin/semibold/josefin-sans-v16-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'JosefinSansBold';
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/josefin/bold/josefin-sans-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
      url('/fonts/josefin/bold/josefin-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/fonts/josefin/bold/josefin-sans-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
      url('/fonts/josefin/bold/josefin-sans-v16-latin-700.woff') format('woff'), /* Modern Browsers */
      url('/fonts/josefin/bold/josefin-sans-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}

/*
Verona Lotte Font
*/
@font-face {
  font-family: 'Verona Lotte';
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/verona-lotte/Verona-Lotte-Script.eot');
  src: local('Verona Lotte Script'), local('Verona Lotte'),
      url('/fonts/verona-lotte/Verona-Lotte-Script.eot#iefix') format('embedded-opentype'),
      url('/fonts/verona-lotte/Verona-Lotte-Script.woff2') format('woff2'),
      url('/fonts/verona-lotte/Verona-Lotte-Script.woff') format('woff'),
      url('/fonts/verona-lotte/Verona-Lotte-Script.ttf') format('truetype'),
}
