:root {
  --basic: #d87093;
  --white: #fff;
  --redLight: rgba(201, 12, 15, 0.7);
  --red: #c90c0f;
  --redDark: #a90000;
  --blueLight: #45BCDA;
  --blue: #4491D8;
  --greenLight: rgba(100, 180, 69, 0.7);
  --green: #64b445;
  --greenDark: #007c34; ;
  --greyLighter: #f5f5f5;
  --greyLight: #e5e5e5;
  --grey: #b2b2b2;
  --greyDark: #666;
  --greyDarker: #3c3c3c;
  --greyDarkest: #222;
  --black: #000;
  --purple:#8b4a97;
  --pink:#e35178;
  --pinkLight: #ffd2d1;
  --orange:#ee7326;

  --font-regular: 'MontserratRegular', Arial, sans-serif;
  --font-semibold: 'MontserratSemibold', Arial, sans-serif;
  --font-bold: 'MontserratBold', Arial, sans-serif;
  --font-light: 'MontserratLight', Arial, sans-serif;

  --font-josi-light: 'JosefinSansLight', serif;
  --font-josi-regular: 'JosefinSansRegular', serif;
  --font-josi-semibold: 'JosefinSansSemibold', serif;
  --font-josi-bold: 'JosefinSansBold', serif;
}